**.env
metricraft/node_modules
metricraft/.nuxt
metricraft/.output
Dockerfile
Dockerfile.*
**/Dockerfile
**/Dockerfile.*
/tmp/
!/Dockerfile
**/cmd/tmp/main
**/cmd/tmp/*.log
backend/cmd/tmp/build-errors.log
worker/cmd/tmp/build-errors.log
